@{
    ViewBag.Title = "About";
}

<script type="text/javascript">
    var createTaskLink = '@Url.Action("CreateTask", "Home")';
</script>

<style>
    div.task-in-progress {
        background-color: yellow;
    }
    
    div.task-completed {
        background-color: green;
    }

    div.task-completed {
        background-color: grey;
    }
</style>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Some page here</h2>
</hgroup>

<div id="task-container">
    <div data-bind="template: { name: 'task-template', foreach: tasks }"></div>
</div>

<aside>
    <h3>Aside Title</h3>
    <p>
        Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
        mi augue, posuere at tempus vel, dignissim vitae nulla.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

<script id="task-template" type="text/html">
    <div>
        Description: ${description} <br/>        
        <p>
            <a href="#">Action</a> <br/>
        </p>
        Handled by: ${handledBy} <br/>
        <button data-bind="click: $parent.starttask">Handle</button>
    </div>
</script>